node_modules
/out

.idea
.iml
.env
.env.production
.env.local
.env_main
concatenated-output.ts
embedding-cache.json
packages/plugin-buttplug/intiface-engine

.DS_Store

dist/

logs/
reports/

src/**/*.js
